body {
    font-family: 'Montserrat', serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh
}

header {
    background-color: white;
}

header h1 {
    font-size: 3em;
}

main h1 {
    text-align: center;
}

header, main {
    margin: 0 3em 1em 3em;
}

section {
    border-radius: 15px;
    padding: 1em 2em 2em 2em;
    background-color: #176bef;
    color: white;
}

section > a {
    background-color: orange;
    box-shadow: 0 5px 0 darkorange;
    color: black;
    padding: 1em 1.5em;
    display: block;
    width: max-content;
    position: relative;
    text-decoration: none;
}

section > a:hover {
    background-color: rgb(245, 159, 0);
}

section > a:active {
    box-shadow: none;
    top: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer p {
    font-size: 2rem;
    margin: 0 0 1em 0;
}

footer a {
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 5px 0 #bbbbbb;
    color: black;
    padding: 1em 1.5em;
    display: block;
    width: max-content;
    position: relative;
    text-decoration: none;
}

footer a:hover {
    background-color: whitesmoke;
}

footer a:active {
    box-shadow: none;
    top: 5px;
}

h1, h2, h3 {
    font-family: 'Lora', sans-serif;
    letter-spacing: 1px;
}

p {
    line-height: 1.6;
}

@media only screen and (min-width: 720px) {
    body {
        width: 100%;
    }

    main, header {
        width: 60vw;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 360px) {
    main, header {
        width: 90vw;
        margin: 0 auto;
    }

    section > a {
        width: auto;
    }
}